.fields > * {
  margin: 1rem 0;
}

.searchControls {
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 2rem;
  max-height: 750px;
  max-width: 400px;
  min-width: 300px;
  overflow-y: auto;
}

.sortOrderSelect {
  width: 200px;
  align-self: end;
}
