.btn-warning {
  background-color: #F45474;
  border-color: #F45474;
  color: white;
  font-size: 1.4rem;
}

.btn-warning:hover {
  background-color: #f12750;
  border-color: #f12750;
  color: white;
  font-size: 1.4rem;
}

.pinkLink {
  color: #F45474;
  text-decoration: none;
  font-size: 1.4rem;
}

.pinkLink:hover {
  color: #F45474;
  text-decoration: none;
  font-size: 1.4rem;
}

.titleText {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}
