.btn-get-started {
  background-color: #F45474;
  border-color: #F45474;
  color: white;
  font-size: 1.4rem;
}

.btn-get-started:hover {
  background-color: #f12750;
  border-color: #f12750;
  color: white;
  font-size: 1.4rem;
}

.landingContainer {
  align-items: center;
  display: flex;
  height: calc(100vh - 11vh);
}

.landingContainer .row{
  padding: 0 40px;
}

.pinkLink {
  color: #F45474;
  text-decoration: none;
  font-size: 1.4rem;
}

.pinkLink:hover {
  color: #F45474;
  text-decoration: none;
  font-size: 1.4rem;
}

.titleText {
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
}

