.profile-container{
    display: flex;
    flex-direction: row;
    margin: 50px auto auto auto;
    width: 75%;
}

.profile-info{
    height: 100%;
}

.right{
    width: 70%;
}

.info-container{
    flex: 2;
    /*border: 1px solid black;*/
    margin: 20px;
}

.bio-box{
    /*border: 1px solid black;*/
    margin: 30px 0px 0px 0px;
}

span.label{
    font-weight: bold;
}

.profile-actions button{
    display:block;
    margin: 20px auto;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
    border: none;
}

.shelter-container .shelter-info{
    flex-wrap: unset !important;
}

.shelter-container .shelter-info .col{
    flex: 1 1 auto;
} 

.pets-container.shelter{
    display: flex;
    flex-wrap: wrap;

}

.profile-avatar{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}