.petProfileQuickView {
  border-width: 1px;
  min-width: 450px;
  box-shadow: 6px 6px 10px gray;
}

.petProfileQuickViewTable {
  font-size: 0.75rem;
}

.petSearchResult {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 4px gray;
  color: black;
  margin: 1rem;
  max-width: 350px;
  min-width: 350px;
  padding: 0.5rem;
  text-decoration: none;
}

.petSearchResult:hover {
  color: black;
  text-decoration: none;
}