@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: steelblue;
}

.navbar-brand {
  font-family: 'Neucha';
  font-size: 2.5rem;
  text-shadow: 2px 2px darkblue;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.nav-link {
  margin-right: 0.75rem;
  border-radius: 10px;
}

.nav-link:hover > .nav-bar-icon {
  color: lightgray;
}

.nav-link.active {
  background-color: rgb(50, 115, 168);
  box-shadow: 2px 2px 2px rgb(33, 84, 126);
}

.nav-link.active > .nav-bar-icon {
  color: white;
}

.navLinks {
  font-size: 1.5rem;
}

.pink-btn{
  width: 100%;
  margin: 5px 0px;
  background-color: #F45474;
  border: none;
}
.pink-btn:hover{
  background-color: #f12750;
  border:none;
}
.pink-btn:focus {
  background-color: #F45474;
  border-color: #F45474;
}
.pink-btn:active {
  background-color: #F45474;
  border-color: #F45474;
}

.pink-btn:not(:disabled):not(.disabled):active{
  background-color: #F45474;
  border-color: #F45474;
}

.nav-btn{
  width: unset;
  margin: 10px;
}

.nav-bar-icon {
  color: lightblue;
  margin-bottom: 4px;
  margin-right: 6px;
  transition: color 0.25s;
}

img.notification-icon{
  height: 30px;
  margin: 5px;
}

.user-box{
  padding: 0 30px;
}

.site-branding {
  padding: 0 0.5rem;
  position: relative;
}

.site-branding-image {
  z-index: 1;
}

.site-loading-indicator {
  position: absolute;
  top: -155px;
  right: -10px;
  height: 65px;
  width: 65px;
  z-index: 0;
  border-width: 20px;
}