.shelterSearchResult {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 4px gray;
  color: black;
  margin: 1rem;
  max-width: 425px;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
}

.shelterSearchResult:hover {
  color: black;
  text-decoration: none;
}

.shelterSearchResult > .deleteButton,
.shelterSearchResult > .deleteButtonBackground {
  opacity: 0;
}

.shelterSearchResult:hover > .deleteButton,
.shelterSearchResult:hover > .deleteButtonBackground {
  opacity: 1;
}
